<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %>  </title>
</head>
<body>
    <h1>Blog Ttile: <%= title %>!</h1>
    <h3>Content:</h3>
    <p><%= content %></p>
</body>

<h1>Blog Number: <%= topic_num %> </h1>

<a href="/"><button>Home!</button></a>
</html>