<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Deleted!</title>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <h1>That Note was deleted!</h1>
</body>

<button onclick="location.href='/';" class="button2">Home</button>
</html>