<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Deleted!</title>
</head>
<body>
    <h1>That Blog was deleted!</h1>
</body>

<a href="/"><button>Home!</button></a>
</html>