<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Deleted!</title>
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div style="text-align: center; display: flex; justify-content: center; flex-direction: column; height:85vh; justify-content: center; align-items: center;">
        <h1>That Note was deleted!😒</h1>
        <button onclick="location.href='/';" class="button1">Home</button>
    </div>
</body>
</html>