<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggistar</title>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="main">
        <div class="landing-page">
            <div class="heading">
                <h1>Welcome to my</h1>
                <h1><span>Blog</span> Application!</h1>
            </div>
            <div class="buttons-group">
                <button onclick="location.href='/create';" class="button2">Create</button>
                <button onclick="location.href='/view';" class="button2">View</button>
                <button onclick="location.href='/delete';" class="button2">Delete</button>
                <button onclick="location.href='/update';" class="button2">Update</button>
            </div>
        </div>

        <h1>Total Number Of Blogs: <%= topic_num %> </h1>

        <h2>The list of Blogs</h2>

        <% if(locals.topics){ %>
        <% for(let i=0;i<topics.length;i++){ %>
            <ul>
                <li>
                    <%= topics[i] %>
                </li>
            </ul>
        <% } %>
        <% }%>

        
    </div>

    <%- include("partials/footer.ejs") %>  
</body>
</html>