<!-- <%- include("partials/header.ejs") %> -->

<h1>Welcome to my blog application!</h1>

<a href="/create"><button>Create</button></a>

<a href="/view"><button>View</button></a>

<a href="/delete"><button>Delete</button></a>

<a href="/update"><button>Update</button></a>

<h2>The list of Blogs</h2>

<% if(locals.topics){ %>
<% for(let i=0;i<topics.length;i++){ %>
    <ul>
        <li>
            <%= topics[i] %>
        </li>
    </ul>
<% } %>
<% }%>

<h1>Blog Number: <%= topic_num %> </h1>

<%- include("partials/footer.ejs") %>