<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %>  </title>
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/note.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>
<body>
    <h1><%= title %></h1>
    <p><%= content %></p>
    <h3 class="note-number">Note Number: <%= topic_num %> </h3>
    <button onclick="location.href='/';" class="button1">Home</button>   
</body>

</html>