<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continue Writing!</title>
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="landing-page1">
        <div class="heading1"><h1>Update a<br> <span>Note</span>!</h1></div>  
      <div class="create-blog">
        <form action="/updated" method="POST">
            <input type="hidden" name="title" value="<%= title %>">
          <table>
            <tr>
              <td class="input-label" ><label class="input-label" for="title">Title</label></td>
              <td class="input-label" ><label class="input-label" for="title"><%= title %></label></td>
            </tr>
            <tr>
              <td  class="input-label"><label class="input-label" for="title">Content</label></td>
              <td>
                <textarea name="content" class="input-area" placeholder="Content..." ><%= previous_content %></textarea>
              </td>
            </tr>
            <tr>
              <td class="button-row" colspan="2" style="text-align: end;"><input class="button1" type="submit" value="Upload!" /></td>
            </tr>
          </table>
        </form>    
      </div>
      </div>
</body>
</html>