<%- include("partials/header.ejs") %>

<h1>Find a Blog!</h1>
<form action="/blogtoview" method="POST">
    <label for="topic_name">Topic Name:</label>
    <input name="topic_name" type="text"class="blog-input" placeholder="Blog Name"/>
    <input type="submit">
</form>

<a href="/"><button>Home!</button></a>

<%- include("partials/footer.ejs") %>