<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search🔎!</title>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="landing-page1">
        <div class="heading1"><h1>Search for a <br> <span>Note</span>!</h1></div>  
      <div class="create-blog">
        <form action="/Notetoview" method="POST">
          <table>
            <tr>
              <td class="input-label" ><label class="input-label" for="topic_name">Title</label></td>
              <td><input name="topic_name" type="text" class="input-area" placeholder="Note Name" /><br></td>
            </tr>
            <tr>
              <td class="button-row" colspan="2" style="text-align: center;"><input class="button1" type="submit" value="Search🔎" /></td>
            </tr>
          </table>
        </form>    
      </div>
    </div>

    <%- include("partials/footer.ejs") %>
</body>
</html>
