<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Note!</title>
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1>Find a Note!</h1>
    <form action="/Notetoview" method="POST">
        <label for="topic_name">Topic Name:</label>
        <input name="topic_name" type="text"class="Note-input" placeholder="Note Name"/>
        <input type="submit">
    </form>

    <button onclick="location.href='/';" class="button2">Home</button>

    <%- include("partials/footer.ejs") %>
</body>
</html>
